<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.jquery.min.js"></script>
    <script src="../static/script.js"></script>
    <script>
        function showSubmitBtn() {
            if ($('#zipCode').val().length >= 5) {
                $('.submitBtn').fadeIn();
            }
            else {
                $('.submitBtn').fadeOut();
            }
        }
    </script>
    <title>FiestaFinder</title>
</head>
<body>
    <div class="container w-100 h-100">
        <div class="row justify-content-center align-items-center h-100" style="text-align: center;">
            <div class="col-md-6">
                <img class="img-circle" style="height: 100px; width: 100px;"
                    src="/static/taco.png">
                <h1 class="coName">FiestaFinder</h1>
                <div class="foodSelection">
                    <nav class="nav nav-pills nav-fill">
                        <!-- <div class="no-option-selected"> -->
                            <a class="nav-item nav-link rounded-0" id="tacos">&nbspTacos&nbsp&nbsp</a>
                            <!-- <div>&nbsp&nbsp&nbsp</div> -->
                            <a class="nav-item nav-link rounded-0" id="burritos">Burritos</a>
                        <!-- </div> -->
                        <div class="option-selected" style="display:none;">
                        </div>
                    </nav>
                </div>
                <form method="POST">
                    <div class="ingredients1 choices">
                        <p class="headers">Ingredients:</p>
                        <input id="foodChoice" name="foodChoice" value="" type="hidden">
                        <select name="ingredients" data-placeholder="Pick three ..." multiple class="chosen-select" tabindex="2">
                            <option value="United States">United States</option>
                            <option value="United Kingdom">United Kingdom</option>
                            <option value="Afghanistan">Afghanistan</option>
                            <option value="Aland Islands">Aland Islands</option>
                            <option value="Albania">Albania</option>
                            <option value="Algeria">Algeria</option>
                            <option value="American Samoa">American Samoa</option>
                        </select>
                    </div>
                    <div class="allergies choices">
                        <p class="headers">Allergy: </p>
                        <select name="allergies" data-placeholder="Pick an allergy.." class="chosen-select-2" tabindex="1">
                            <option value="" disabled selected>Select an allergy:</option>
                            <option value="United States">United States</option>
                            <option value="United Kingdom">United Kingdom</option>
                            <option value="Afghanistan">Afghanistan</option>
                            <option value="Aland Islands">Aland Islands</option>
                            <option value="Albania">Albania</option>
                            <option value="Algeria">Algeria</option>
                            <option value="American Samoa">American Samoa</option>
                        </select>
                    </div>
                    <div class="zipCode" style="text-align: left;">
                        <p class="headers">Zip Code:</p>
                        <input id="zipCode" name="zipCode" oninput="showSubmitBtn()">
                    </div>
                    <div>     
                        <button class="submitBtn" type="submit" value="Submit">Find My Fiesta!</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>